#form {
    width: 250px;
    text-align: left;
    height: 50px;
  }
  
 
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  .img-view {
    width: 100%;
  }

  .banner {
    border-radius: 10px;
    min-height: 60vh;
    background-image: url('../img/banner.jpg');
    color: white;
    padding: 50px;
  }


