#form {
    width: 250px;
    text-align: left;
    height: 50px;
  }
  
 
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .label:hover,
  .label:hover ~ .label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }

  .img-view {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .banner {
    border-radius: 10px;
    min-height: 60vh;
    background-image: url('../img/banner.jpg');
    color: white;
    padding: 50px;
  }

  .info {
    background-color: white;
    width: 100%; 
    height: 100%;
    padding: 45px;
    border-radius: 5px;
  }

  .justify {
    text-align: justify;
  }

  .segurity {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    padding: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #i-cross {
    width: 100%;
  }

  .btn-view-onwer {
    width: 100%;
  }

  .back {
    padding: 18px;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(218, 218, 218);
  }

  .back:hover{
    color: white;
    background-color: black;
  }
  .lin {
    text-decoration: none;
    color: black;
  }
  .lin:hover {
    color: black;
    text-decoration: none;
  }

  .img-apartment{
    width: 100%;
    height: 13rem;
  }

  iframe {
    border-radius: 5px;
  }
  .row-login {
    min-height: 90vh;
  }

  #span-edit {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    padding: 3px;
    margin-right: 5px;
    display: none;
  }

  .edit-a {
    text-decoration: none;
    color: white;
  }

  .edit-a:hover {
    color:white;
    text-decoration: none;
  }

  .form-register-user-new {
      margin-top: 20px;
      background-color: white;
      padding: 30px;
      margin-bottom: 30px;
  }

  /* .form-signin-new {

  } */

  .page-register {
    min-height: 90vh;
  }

  .title-signin-new{
    background-color: white;
    margin-top: 20px;
  }

  .form-register-property-new {
      margin-top: 20px;
      background-color: white;
      padding: 30px;
      display: none;
      margin-bottom: 30px;
  }
  .form-register-property-update {
      margin-top: 20px;
      background-color: white;
      padding: 30px;
      margin-bottom: 30px;
  }


  .active-btn {
    background-color: rgb(233, 218, 8);
    border-radius: 12px;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    color: white;
  }

  .desactivate-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 8px;
    border: 1px solid rgb(194, 194, 194);
    font-size: 14px;
  }

  .sigin-btn-go {
    background-color: rgb(109, 109, 108);
    border-radius: 12px;
    padding: 8px;
    font-weight: bold;
    font-size: 14px;
    color: white;
  }

  .sigin-btn-go:hover {
    color: white;
    background-color:black;
  }

  .text-user-sign {
    color: gray;
  }

  .coment {
    background-color: white;
    padding: 30px;
  }

  #form2 label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label2 {
    color: grey;
  }
  
  .clasificacion2 {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .label2:hover,
  .label2:hover ~ .label2 {
    color: orange;
  }
  
  input[type="radio"]:checked ~ .label2 {
    color: orange;
  }

  .cont-apartment {
    background-color: white;
  }

  .container-reservation {
    min-height: 90vh;
    background-color: white;
    background-image: url('../img/reservations.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .icon-res {
    background-color: rgba(27, 27, 27, 0.712);
    border-radius: 12px;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-r {
    text-align: center;
    width: 40%;
    color: white;
  }

  .res {
    background-color: white;
    border-radius: 10px;
  }

  .img-fluid-res{
    width: 100%;
    border-radius: 10px;
  }

  .res-etiq{
    padding: 5px;
    background-color: rgb(0, 156, 0);
    color: white;
    border-radius: 10px;
    font-size: 10px;
  }
  .res-etiq-neg {
    padding: 5px;
    background-color: rgb(156, 88, 0);
    color: white;
    border-radius: 10px;
    font-size: 10px;
  }

  .img-payment{
    width:17%;
  }