body{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

/* Estilos de layouy*/
.footer-page {
    min-height: 7vh;
    background-color: black;
}
.footer-page p {
    color: white;
    text-align: center;
}

/*Estilos de index*/
.page {
    min-height: 85vh;
    background-image: url('/static/img/back.jpg');
    padding-top: 50px;
}

.home {
    min-height: 50vh;
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 5px;
}



.form-property {
    display: none;
}

.form-register-property {
    display: none;
}


/* Estilos de login*/
.page-login {
    min-height: 85vh;
    padding-top: 50px;
    background-image: url('/static/img/login.jpg');
    background-repeat: no-repeat;
    background-size:100%  100%;
    background-attachment: fixed;
}
.game {
    height: 50%;
    background-color: black;
    padding: 1% 2% 1% 2%;
}
.img-game-log-one, .img-game-log-two {
     height: 98%;
     width: 98%;
 }


 /* estilos del sign In*/

.signin {
    min-height: 85vh;
    background-image: url('/static/img/signup.jpg');
    background-repeat: no-repeat;
    padding: 20px 0 0 100px;
    background-size:100%  100%;
}

.form-signin {
    background-color: rgba(92, 92, 92, 0.5);
    padding: 50px;
    border-radius: 10px;
    color: white;

}
#title-sign {
    color: white;
    font-family: 'Ranchers', cursive;
}
.title-signin {
    background-color: rgba(92, 92, 92, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.btn-submit {
    width: 200px;
    height: 40px;
    background-color: #efb810;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-family: 'Ranchers', cursive;
}
.btn-submit:hover {
    background-color: #efb71085;
}
.form-login {
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 10px;
    padding: 50px;
    color: white;
}

.link-form {
    color: white;
    text-decoration: none;
}

.link-form :hover {
    color:rgb(177, 177, 177);
    cursor: pointer;
}

/* Estilos para navbar color de texto menú */
.navbar .collapse .navbar-nav a{
    color: #efb810;
}

.apartments {
    min-height: 85vh;
}

.data-user{
        min-height: 85vh;
        background-image: url('/static/img/back-onwer.jpeg');
        box-shadow: 2px 1px 12px #000000;
}

.alert {
    margin-bottom: 0 !important;
}

.user-img {
    width: 50%;
}