* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fff;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #010101;
}

/* BUSCADOR */
.buscador {
  border: 1px solid #f8f5f5;
  border-radius: 32px;
  box-shadow: 1px 2px 0px #ffff;
  padding: 2px;
  color: #fff;
  background-color: #ffffff;
}

.buscador input {
  background: transparent;

}

/* Header index*/
.site-header {
  background-color: #010101;
  padding: 1rem 0 0.5rem 0;
}

.site-header.inicio {
  background-image: url(/static/img/header.jpg);
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 30vh;
  min-height: 33rem;
  position: relative;

}

.contenido-header h2 {
  color: #fff;
  position: relative;
  top: 360px;
  text-align: center;

}

/* Estilos de 404 */
.page-404 {
  width: 100%;
  position: relative;
  top: 0;
  transform: translateY(-5%);
  text-align: center;
  color: #301c1c
}

.page404{
  padding-top: 50px;
  margin-bottom: 240px;
}

.page-404 h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url(/static/img/404.jpg) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.page-404 a {
  text-decoration: none;
  background: #cc780a;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.page-404 a:hover {
  color: #ffffff;
  background: #724305ce;
  text-decoration: none;
}



/*Estilos de index*/
.page {
  min-height: 85vh;
  background-image: url('/static/img/back.jpg');
  padding-top: 50px;
}

.home {
  min-height: 50vh;
  background-color: rgba(92, 92, 92, 0.5);
  border-radius: 5px;
}



.form-property {
  display: none;
}

.form-register-property {
  display: none;
}


/* Estilos de login*/
.page-login {
  min-height: 85vh;
  padding-top: 50px;

}

.game {
  height: 50%;
  background-color: black;
  padding: 1% 2% 1% 2%;
}

.img-game-log-one,
.img-game-log-two {
  height: 98%;
  width: 98%;
}


/* estilos del sign up*/

.signin {
  min-height: 85vh;
  background-image: url('/static/img/signup.jpg');
  background-repeat: no-repeat;
  padding: 20px 0 0 100px;
  background-size: 100% 100%;
}





.form-signin{
  background-color: rgba(92, 92, 92, 0.4);
  padding: 50px;
  border-radius: 10px;
  color: white;

}

#title-sign {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.title-signin {
  background-color: rgba(92, 92, 92, 0.055);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.btn-submit {
  width: 200px;
  height: 40px;
  background-color: #efb810;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.btn-submit:hover {
  background-color: #efb71085;
  border: solid 1px rgba(255, 255, 255,0.5);
}

.form-login {
  background-color: #fff;
  border-radius: 10px;
  padding: 50px;
  color: #010101;

}
.container-login{
  background-color: #fff;
  margin: 10px;
}

.link-form {
  color: #010101;
  text-decoration: none;
}

.link-form :hover {
  color: rgb(177, 177, 177);
  cursor: pointer;
}

/* Estilos para navbar color de texto menú */
.navbar .collapse .navbar-nav a {
  color: #efb810;
}

.apartments {
  min-height: 85vh;
}

.data-user {
  min-height: 85vh;
  background-image: url('/static/img/back-onwer.jpeg');
  box-shadow: 2px 1px 12px #000000;
  color: white;
}
.data-onwer {
  min-height: 85vh;
}
.alert {
  margin-bottom: 0 !important;
}

.user-img {
  width: 50%;
  box-shadow: 3px 4px 12px #000000;
}

.list-group li {
  background-color: rgba(255, 255, 255, 0.219);
  color: white;
}

.page-apartment {
  min-height: 85vh;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}



/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #efb810;
  opacity: 2;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
  opacity: 100%;
}

.carousel__anterior {
  left: -25px;
}

.carousel__siguiente {
  right: -25px;
}

.carousel__lista {
  overflow: hidden;
}
.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: rgb(7, 7, 7);
  opacity: .2;
  border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
  opacity: .5;
}

.carousel__indicadores .glider-dot.active {
  opacity: 1;
}

.card:hover {
  box-shadow: 1px -1px 5px #000000;

}

.card {
  border-radius: 4px;
}

.btn-light:hover {
  background: #070707a2;
  color: white;
}


/* Experiencias */
.item {
  border: 1px solid #e7e6e6;
  padding: 1px;
  border-radius: 20px;

}

.item-image {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 1px #2c2a2a;
}

.item .item-details a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.item-image {
  opacity: .5;
}

.item-image:hover {
  opacity: 5;
}

.figure {
  opacity: .7;
}

.figure:hover {
  opacity: 5;
}



/* Estilos de layouy FOOTER*/
.footer-page {
  min-height: 7vh;
  background-color: black;
}

.footer-page p {

  text-align: center;
}

.p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 28px;
}

.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #efb810;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #F5B02E;
}

.animate-border.border-orange:after {
  border-right-color: #F5B02E;
  border-left-color: #F5B02E;
}

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }

  50% {
    width: 90%;
  }

  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2;
}

.dk-footer .contact-us {
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 80px;
  align-items: center;
}

.dk-footer .contact-us .contact-info {
  margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}

.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #efb810;
}

.dk-footer-box-info {
  position: relative;
  top: -75px;
  background: #010101;
  padding: 40px;
  z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #efb810;
}


.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #f2f4f86c;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #f2f4f86c;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #f2f4f86c;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
  background-color: #f2f4f86c;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #f2f4f86c;
}

.footer-awarad {
  margin-top: -83px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px;
}

.footer-info-text {
  margin: 26px 0 32px;
}

.footer-left-widget {
  padding-left: 80px;
  text-decoration: none;
}

.footer-widget .section-heading {
  margin-bottom: 35px;

}

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

.footer-widget li {
  margin-bottom: 18px;

}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #af9a9a;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #efb810;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.dk-footer-form {
  position: relative;
}

.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #efb810;
  background: #efb810;
  color: #fff;
}

.dk-footer-form button:hover {
  cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  position: absolute;
}

.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #efb810;
}

.contact-info {
  margin-left: 75px;
  color: #fff;
}

.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.copyright {
  padding: 10px 0;
  margin-top: -1px;
  background-color: #010101;
}

.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.copyright a:hover {
  color: #efb810;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #010101;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #efb810;
  border-color: #efb810;
}

/* FIN ESTILOS FOOTER */

/* Discover */
/* JUMBOTRON */
.jumbotron {
  background-image: url(https://tinyurl.com/y2xwangt);
  background-position: center center;
  background-size: cover;
  height: 50vh;
  min-height: 10rem;
  margin-bottom: 0px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

  .contenido-jumbotron h1 h2 {
    color: #fff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2; }
  
  /* FIN JUMBOTRON */
  
.card-hotels{
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 15px;
  margin-right: 10px;
  
}


.card-hotels {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-right: 10px; }

.card-hotels img {
  opacity: .6; }

.card-hotels img:hover {
  opacity: 1;
  transition: all .3s ease-in; }

  .container-dis {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  button:focus {
    outline: none;
  }
  
  .deck {
    margin: 15px;
    width: 270px;
    height: 380px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    font-family: verdana;
    border-radius: 10px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    border-radius: 10px;
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .back {
    overflow: hidden;
    z-index: -1;
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
  }
  .back:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;
    background: url(/static/img/discover/W3tra4F.gif);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  
  .front, .back {
    transition: all 0.5s linear;
  }
  
  .front {
    background-image: url(/static/img/discover/W3tra4F.gif);
    z-index: 1;
    box-shadow: 5px 5px 5px #aaa;
  }
  
  .back {
    box-shadow: 0 0 0 #aaa;
  }
  
  .flipped, .hover-card:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .flipped .front, .hover-card:hover .front {
    box-shadow: 0 0 0 #aaa;
  }
  .flipped .back, .hover-card:hover .back {
    box-shadow: 5px 5px 5px #aaa;
  }
  
  .bottext {
    position: absolute;
    color: whitesmoke;
    width: 100%;
    height: 100px;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 10px;
  }
  .bottext h2 {
    margin: 0;
  }
  .bottext h3 {
    margin: 10px 0;
  }
  
  .rad-button {
    border: 2px solid gray;
    color: gray;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 110px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  
  .rad-button:hover {
    color: gray;
    background-color: white;
  }
  
  .front h2, .front h3 {
    text-align: center;
    color: whitesmoke;
  }
  
  .back h2 {
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
  }
  .back ul {
    text-align: center;
    list-style: none;
    padding: 10px;
    margin: 0;
  }
  .back ul li {
    margin-top: 15px;
    color: whitesmoke;
  }
  .back .botprice {
    position: absolute;
    bottom: 30px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    width: 100%;
    padding: 15px;
    color: whitesmoke;
  }
  .back .botprice h3 {
    margin: 0px;
  }
  
  .return {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    padding: 5px;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    background-color: gainsboro;
    font-size: 18px;
  }
  .return:focus {
    outline: none;
  }