{% extends './layout/layout.html' %}

{% block title %}
404
{% endblock %}
{% block content %}

<div class="container">
    <div class="page-404">
        <div class="row">
            <div class="col">
                <h2 class="mt-3 text-warning"><strong>Oops! Page not found.</strong></h2>
                <h1>404</h1>
                <p>We can't find the page you're looking for.</p>
                <a href="/">GO BACK HOME</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}