{% extends './layout/layout.html' %}

{% block title %}
Connect-House
{% endblock %}
{% block content %}

<!-- <div class="container">
    <div id="scroller">
        <div class="nav">
            <a class="prev">&laquo;</a>
            <a class="next">&raquo;</a>
        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d1.jpg" />
        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d2.jpg" alt="">
        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d3.jpg" alt="">
        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d4.jpg" alt="">

        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d5.jpg" alt="">

        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d6.jpg" alt="">

        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d7.jpg" alt="">

        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d8.jpg" alt="">

        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d9.jpg" alt="">

        </div>
        <div class="item">
            <img width="320" height="150" src="/static/img/discover/d10.jpg" alt="">

        </div>
    </div>
</div> -->
<div class="jumbotron jumbotron-fluid">
    <div class="container contenido-jumbotron">
        <h1 class="display-2">Connect-House</h1>
        <h3 class="jumbotron-h3">Ven, Conocenos y <strong class="text-uppercase">vive la mejor experiecia!</strong>
        </h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="container-dis">
                <div class="deck">
                    <div class="card hover-card">
                        <div class="front face">
                            <h2>Como puedo Reservar</h2>
                            <div class="bottext">
                                <h3>Asi lo Hacemos</h3>
                            </div>
                        </div>
                        <div class="back-card face">
                            <h2>Basic</h2>
                            <ul>
                                <li>6 Sider</li>
                                <li>Kontaktside</li>
                                <li>SEO optimeret</li>
                                <li>Mobilvenlig</li>
                            </ul>
                            <div class="botprice">
                                <h3>6000kr</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <h2 class="font-italic bg-white-50">Como Funciona?</h2>
            <p class="text-justify text-sm-left text-muted">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                Lorem ipsum dolor sit amet.
            </p>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <h2 class="font-italic bg-white-50">Cómo Pago?</h2>
            <p class="text-justify text-sm-left text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, optio
            </p>
        </div>
    </div>

</div>
<div class="container mb-2 pb-3">
    <h2 class="mt-4">Descubre Colombia </h2>
    <strong class="text-center text-lg-left mt-4 mb-0">
        <p class="text-dark">Estos destinos populares tienen mucho que ofrecer</p>
    </strong>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/cartagena.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cartagena de Indias</h5>
                                <p class="card-text text-muted text-dark">2.088 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/san.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">San Andrés</h5>
                                <p class="card-text text-muted text-dark">678 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/santa.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Santa Marta</h5>
                                <p class="card-text text-muted text-dark">1.404 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/bogota.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bogotá</h5>
                                <p class="card-text text-muted text-dark">1.901 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/medellin.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Medellín</h5>
                                <p class="card-text text-muted text-dark">1.364 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/villa.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Villa de Leyva</h5>
                                <p class="card-text text-muted text-dark">376 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/guatape.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Guatapé</h5>
                                <p class="card-text text-muted text-dark">182 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/girardot.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Girardot</h5>
                                <p class="card-text text-muted text-dark">235 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/Palomino.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Palomino</h5>
                                <p class="card-text text-muted text-dark">150 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/melgar.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Melgar</h5>
                                <p class="card-text text-muted text-dark">175 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/capurgana.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Capurgana</h5>
                                <p class="card-text text-muted text-dark">48 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="/static/img/discover/arboletes.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Arboletes</h5>
                                <p class="card-text text-muted text-dark">89 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

            <span class="visually-hidden">Next</span>
        </button>
    </div>







</div>


<div class="container mt-3">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Galeria de Aventuras</h1>
    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
            </a>
        </div>
    </div>

</div>


{% endblock %}