{% extends './layout/layout.html' %}

{% block title %}
Connect-House
{% endblock %}
{% block content %}


    <div class="jumbotron jumbotron-fluid">
        <div class="container contenido-jumbotron">
            <h1 class="display-2">Connect-House</h1>
            <h3 class="jumbotron-h3">Ven, Conocenos y <strong class="text-uppercase">vive la mejor experiecia!</strong>
            </h3>
        </div>
    </div>



<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4">
            <div class="deck">
                <div class="card-dis clickcard">
                    <div class="front face">
                        <h2 class="font-italic text-center bg-white-50">¿Como Funciona?</h2>
                        <div class="bottext">
                            <h3>Más Info!!!</h3>
                        </div>
                    </div>
                    <div class="back-card face">
                        <h2>Asi Funciona!</h2>
                        <ul>
                            <li>
                                <p>
                                    Busca los Hoteles o Apartamentos de acuerdo a tu preferencia.
                                </p>
                            </li>
                        </ul>
                        <div class="botprice">
                            <h3>Visitanos...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-4  ">
            <div class="deck">
                <div class="card-dis clickcard">
                    <div class="front face">
                        <h2 class="font-italic text-center bg-white-50">¿Como puedo Reservar</h2>
                        <div class="bottext">
                            <h3>Más Info!!!</h3>
                        </div>
                    </div>
                    <div class="back-card face">
                        <h2>Asi Reservas!</h2>
                        <ul>
                            <li>
                                <p>
                                    Elige la ciudad de Destino que más te gusta
                                    y realiza la reserva con tus datos Personales
                                </p>
                            </li>

                        </ul>
                        <div class="botprice">
                            <h3>Visitanos...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-md-6 col-lg-4">
            <div class="deck">
                <div class="card-dis clickcard">
                    <div class="front face">
                        <h2 class="font-italic bg-white-50">¿Cómo Pago?</h2>
                        <div class="bottext">
                            <h3>Más Info!!!</h3>
                        </div>
                    </div>
                    <div class="back-card face">
                        <h2>Asi Pagas!</h2>
                        <ul>
                            <li>
                                <p>
                                    Utiliza tu tarjeta Favorita o Efectivo si prefieres.
                                </p>
                            </li>
                        </ul>
                        <div class="botprice">
                            <h3>Visitanos...</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mb-2 pb-3">
    <h2 class="mt-4">Descubre Colombia </h2>
    <strong class="text-center text-lg-left mt-4 mb-0">
        <p class="text-dark">Estos destinos populares tienen mucho que ofrecer</p>
    </strong>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/cartagena.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cartagena de Indias</h5>
                                <p class="card-text text-muted text-dark">2.088 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/san.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">San Andrés</h5>
                                <p class="card-text text-muted text-dark">678 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/santa.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Santa Marta</h5>
                                <p class="card-text text-muted text-dark">1.404 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/bogota.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bogotá</h5>
                                <p class="card-text text-muted text-dark">1.901 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/medellin.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Medellín</h5>
                                <p class="card-text text-muted text-dark">1.364 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/villa.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Villa de Leyva</h5>
                                <p class="card-text text-muted text-dark">376 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/guatape.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Guatapé</h5>
                                <p class="card-text text-muted text-dark">182 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/girardot.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Girardot</h5>
                                <p class="card-text text-muted text-dark">235 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/Palomino.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Palomino</h5>
                                <p class="card-text text-muted text-dark">150 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/melgar.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Melgar</h5>
                                <p class="card-text text-muted text-dark">175 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/capurgana.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Capurgana</h5>
                                <p class="card-text text-muted text-dark">48 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6 col-lg">
                        <div class="card">
                            <img src="/static/img/discover/arboletes.jpg" class="card-img-top" width="100" height="180"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Arboletes</h5>
                                <p class="card-text text-muted text-dark">89 Alojamientos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

            <span class="visually-hidden">Next</span>
        </button>
    </div>







</div>


<div class="container mt-3">
    <section id="gallery" class="p-3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h5 class="display-4">
                        <span class="text-teal">Galería</span>de fotos

                    </h5>
                    <p class="lead">Atrevete a vivir las mejores Aventuras y llevate las mejores experienias con <strong
                            class="fw-bold">Connect-House</strong>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_3.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_4.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_5.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_6.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_7.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_8.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_9.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_10.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_11.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img src="static/img/discover/gallery_12.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-12 d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}