{% extends './layout/layout.html' %}

{% block title %}
Perfil de Usuario
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 data-user">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="rounded-circle user-img mt-5" src="{{url_for('static', filename='img/uploads/'+data['avatar'])}}" alt="">
                    <h6 class="title-user mt-2">{{data['name']}}</h6>
                    <ul class="list-group mt-4">
                        <li class="list-group-item"><i class="fas fa-id-card me-2"> Identificación:</i><br>{{data['ident']}}</li>
                        <li class="list-group-item"><i class="fas fa-envelope me-2"> Email:</i><br>{{data['email']}}</li>
                        <li class="list-group-item"><i class="fas fa-globe-americas me-2"> Pais:</i><br>{{data['country']}}</li>
                        <li class="list-group-item"><i class="fas fa-building me-2"> Ciudad:</i><br>{{data['city']}}</li>
                      </ul>

                      <a href="/signout"><button class="btn btn-dark mt-5">Cerrar Sesión</button></a>
                </div>
            </div>
        </div>
            
        <div class="col-lg-10 apartments">

        </div>
    </div>
</div>
{% endblock %}