{% extends './layout/layout.html' %}

{% block title %}
Perfil de Usuario
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 data-user">
            <div class="row">
                <div class="col-lg-12 mt-1">
                    <a href="/updateuser" class="float-end edit-a"><span id="span-edit">Editar Usuario </span><i
                            class="fas fa-edit" id="fedit"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="rounded-circle user-img mt-5"
                        src="{{url_for('static', filename='img/uploads/'+data['avatar'])}}" alt="">
                    <h6 class="title-user mt-2">{{data['name']}}</h6>
                    <ul class="list-group mt-4">
                        <li class="list-group-item"><i class="fas fa-id-card me-2">
                                Identificación:</i><br>{{data['ident']}}</li>
                        <li class="list-group-item"><i class="fas fa-envelope me-2"> Email:</i><br>{{data['email']}}
                        </li>
                        <li class="list-group-item"><i class="fas fa-globe-americas me-2">
                                Pais:</i><br>{{data['country']}}</li>
                        <li class="list-group-item"><i class="fas fa-building me-2"> Ciudad:</i><br>{{data['city']}}
                        </li>
                    </ul>

                    <a href="/signout"><button class="btn btn-light mt-5 mb-5">Cerrar Sesión</button></a>
                </div>
            </div>
        </div>

        <div class="col-lg-10 apartments">
            <div class="container mb-2 pb-3">
            {% if reserva %}
            <div class="row">
                <div class="row">
                    <div class="col-lg-12 mt-4 mb-3 text-center">
                        <h4>Tus Reservaciones</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">Apartamento</th>
                                <th scope="col">País</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Fecha Salida</th>
                                <th scope="col">Fecha Regreso</th>
                                <th scope="col">Número de personas</th>
                                <th scope="col">Valor Pagado</th>
                              </tr>
                            </thead>
                            <tbody>
                              
                                {% for res in reserva %}
                                <tr>
                                    <td>{{res.name}}</td>
                                    <td>{{res.country}}</td>
                                    <td>{{res.city}}</td>
                                    <td>{{res.exit}}</td>
                                    <td>{{res.return}}</td>
                                    <td>{{res.numperson}}</td>
                                    <td>COP ${{res.value}}</td>
                                </tr>
                                {% endfor %}
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                    <h2 class="mt-4">Descubre Colombia </h2>
                    <strong class="text-center text-lg-left mt-4 mb-0">
                        <p class="text-dark">Estos destinos populares tienen mucho que ofrecer</p>
                    </strong>
                    <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
                        <div class="col">
                            <div class="card">
                                <img src="/static/img/discover/cartagena.jpg" class="card-img-top" width="200"
                                    height="180" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Cartagena de Indias</h5>
                                    <p class="card-text text-muted text-center text-dark">2.088 Alojamientos</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="/static/img/discover/villa.jpg" class="card-img-top" width="200" height="180"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Villa de Leyva</h5>
                                    <p class="card-text text-muted text-center text-dark">376 Alojamientos</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="/static/img/discover/guatape.jpg" class="card-img-top" width="200"
                                    height="180" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Guatapé</h5>
                                    <p class="card-text text-muted text-center text-dark">182 Alojamientos</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="container mb-2 pb-3">
                    <h3>Destinos Exóticos</h3>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h6><strong>CUEVA GRJÓTAGJÁ, ISLANDIA</strong></h6>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <img src="/static/img/exoticos/exo1.jpg" class="figure-img img-fluid rounded" alt="">
                                    <p>Una pequeña cueva de lava, parece poca cosa, pero en su interior esconde un
                                        pequeño lago de aguas termales. Desde el siglo XVIII hasta la década de 1970,
                                        Grjótagjá era una zona de baño popular. Pero con las erupciones producidas de
                                        1975 y 1984 la temperatura del agua subió a más de 50 °C, y aunque ahora han
                                        caído unos grados ya no es posible tomarse un baño sin escaldarse.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h6> <strong>CGRAND PRISMATIC SPRING, YELLOWSTONE; ESTADOS UNIDOS.</strong> </h6>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <img src="/static/img/exoticos/exo2.jpg" class="figure-img img-fluid rounded" alt="...">
                                    <p>¿Un viaje a Estados Unidos puede ser exótico? Si es al estado de Wyoming, al
                                        Parque Nacional de Yellowstone, seguro que sí. Este famoso parque, que nos trae
                                        recuerdos de infancia con aquellos dibujos del oso Yogui, es un verdadero regalo
                                        de la naturaleza, una colección de maravillas en forma de cañones, formaciones
                                        rocosas, géiseres… y por supuesto sus pintorescas fuentes termales.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h6><strong>ISLAS SAN BLAS – PANAMA</strong></h6>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <img src="/static/img/exoticos/exo3.jpg" class="figure-img img-fluid rounded" alt="...">
                                    <p>Las Islas de San Blas son un auténtico paraíso virgen que nada tiene que ver con los masificados destinos caribeños para grandes multitudes, para empezar porque llegar hasta allí no es fácil, lo mejor es en avioneta, una de esas que convierten el viaje en una aventura, de las que aterrizan en una isla que desde el cielo no parece mayor que una moneda de 2 €. También se puede ir en velero, lo que permite ir de isla en isla descubriendo los distintos estilos de vida, sus fondos marinos y sus solitarias playas, lo que siempre soñaste del Caribe, eso es San Blas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}