{% extends './layout/layout.html' %}

{% block title %}
Perfil Propietario
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 data-user">
            <div class="row">
                <div class="col-lg-12 mt-1">
                    <a href="/updateonwer" class="float-end edit-a"><span id="span-edit">Editar Usuario  </span><i class="fas fa-edit" id="fedit"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center data-onwer">
                    <img class="rounded-circle user-img mt-5"
                        src="{{url_for('static', filename='img/uploads/'+data['avatar'])}}" alt="">
                    <h6 class="title-user mt-2">{{data['name']}}</h6>
                    <ul class="list-group mt-4">
                        <li class="list-group-item"><i class="fas fa-id-card me-2">
                                Identificación:</i><br>{{data['ident']}}</li>
                        <li class="list-group-item"><i class="fas fa-envelope me-2"> Email:</i><br>{{data['email']}}
                        </li>
                        <li class="list-group-item"><i class="fas fa-globe-americas me-2">
                                Pais:</i><br>{{data['country']}}</li>
                        <li class="list-group-item"><i class="fas fa-building me-2"> Ciudad:</i><br>{{data['city']}}
                        </li>
                    </ul>

                    <a href="/signout"><button class="btn btn-light mt-5 mb-5">Cerrar Sesión</button></a>
                </div>
            </div>
        </div>

        <div class="col-lg-10 apartments">
            <div class="row mt-4 ps-1">
                <div class="col-lg-1">
                  <a href="/" class="back align-middle"><i class="fas fa-home"></i></a>
                </div>
                <div class="col-lg-9"></div>
                <div class="col-lg-2 pe-3 text-end">
                    <a href="/addapartament" class="back align-middle"><i class="fas fa-plus-square"> Agregar</i></a>
                </div>
              </div>
            <div class="row">
        {% if apartments[0] %}
            {% for apartment in apartments %}
                {% if apartment['active'] %}
                <div class="col-lg-6">
                    <div class="card mt-4 ">

                        <div class="row">
                            <div class="col-lg-6 img-ap">
                                <a href="/onwer-apartment/{{apartment._id}}">
                                    <img class="img-apartment"
                                        src="{{url_for('static', filename='img/uploads/'+apartment.image_featured)}}"
                                        alt="">
                                </a>
                                {% if apartment.active %}
                                    <p class="mb-0 msg-ac"><span class="active-ap">Activo visible</span></p>
                                {% endif %}
                            </div>
                            <div class="col-lg-6">
                                <h6 class="mt-4">{{apartment.name}}</h6>
                                <p class="mb-0"><i class="fas fa-map-marker-alt"></i> {{apartment.country}} -
                                    {{apartment.city}}</p>
                                <p class="mb-0"><i class="fas fa-map-marked-alt"></i> {{apartment.address}}</p>
                                <form id="form">
                                    <p class="clasificacion">
                                        {% if apartment.assessment == 5%}
                                        <input id="radio1" type="radio" name="estrellas" value="5" checked>
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 4 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4" checked>
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 3 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3" checked>
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 2 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2" checked>
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 1 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1" checked>
                                        <label class="label" for="radio5">★</label>
                                        {% endif %}
                                    </p>
                                </form>
                                
                                <div class="view-btn d-flex flex-row align-items-center">
                                    
                                    <a href="/onwer-apartment/{{apartment._id}}"><button class="btn btn-light ms-5 btn-view-onwer"><i class="fas fa-edit"></i> Gestionar</button> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <div class="row">
                            <div class="col-lg-6 img-ap">
                                <a href="/onwer-apartment/{{apartment._id}}">
                                    <img class="img-apartment img-apartment-desactivate"
                                        src="{{url_for('static', filename='img/uploads/'+apartment.image_featured)}}"
                                        alt="">
                                </a>
                                {% if not apartment.active %}
                                    <p class="mb-0 msg-ac"><span class="deactive">Publicación pausada</span></p>
                                {% endif %}
                            </div>
                            <div class="col-lg-6">
                                <h6 class="mt-4">{{apartment.name}}</h6>
                                <p class="mb-0"><i class="fas fa-map-marker-alt"></i> {{apartment.country}} -
                                    {{apartment.city}}</p>
                                <p class="mb-0"><i class="fas fa-map-marked-alt"></i> {{apartment.address}}</p>
                                <form id="form">
                                    <p class="clasificacion">
                                        {% if apartment.assessment == 5%}
                                        <input id="radio1" type="radio" name="estrellas" value="5" checked>
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 4 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4" checked>
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 3 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3" checked>
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 2 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2" checked>
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1">
                                        <label class="label" for="radio5">★</label>
                                        {% elif apartment.assessment == 1 %}
                                        <input id="radio1" type="radio" name="estrellas" value="5">
                                        <label class="label" for="radio1">★</label>
                                        <input id="radio2" type="radio" name="estrellas" value="4">
                                        <label class="label" for="radio2">★</label>
                                        <input id="radio3" type="radio" name="estrellas" value="3">
                                        <label class="label" for="radio3">★</label>
                                        <input id="radio4" type="radio" name="estrellas" value="2">
                                        <label class="label" for="radio4">★</label>
                                        <input id="radio5" type="radio" name="estrellas" value="1" checked>
                                        <label class="label" for="radio5">★</label>
                                        {% endif %}
                                    </p>
                                </form>
                                
                                <div class="view-btn d-flex flex-row align-items-center">
                                    
                                    <a href="/onwer-apartment/{{apartment._id}}"><button class="btn btn-light ms-5 btn-view-onwer"><i class="fas fa-edit"></i> Gestionar</button> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            {% else %}
                <div class="row">
                        <div class="col-lg-12 text-center mt-5 mb-5">
                            <div class="card text-center p-5">
                            <p>No tienes propiedades agregadas, ingresa en el siguiente boton y agrega tus propiedades, recuerda que para nosotros es muy importante tu participación</p>
                            <a href="/addapartament"><button class="btn btn-warning">Agregar Propiedad</button></a>
                        </div>
                        </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
