{% extends './layout/layout.html' %}

{% block title %}
Connect-House
{% endblock %}
{% block content %}

<header class="site-header inicio">
    <div class="container-fluid">
        <div class="container">
            <div class="row buscador">
                <div class="col-sm-3 col-md-3">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-map-marked-alt text-danger fw-bold me-1"></i>
                        <label class="form-label text-danger fw-bold" for="ubication">Ubicación</label>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill" id="ubication" type="text"
                            placeholder="¿A dónde vas?" aria-label="text" p-2>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-calendar-check text-danger fw-bold me-1"></i>
                        <label class="form-label text-danger fw-bold" for="salida">Salida</label>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill" id="salida" type="date"
                            placeholder="Agrega Fechas" aria-label="datetime">
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-calendar-day text-danger fw-bold me-1"></i>
                        <label class="form-label text-danger fw-bold" for="llegada">Llegada</label>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill" id="llegada" type="date"
                            placeholder="Agrega Fechas" aria-label="datetime">
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-users text-danger fw-bold me-1 text-center"></i>
                        <label class="form-label text-danger fw-bold" for="huespedes">Viajeros</label>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill" id="huespedes" type="text"
                            placeholder="¿Cuántos?" aria-label="Search">
                        <div class="d-flex  align-items-center">
                            <a class="btn btn-danger fw-bold text-warning fw-bold rounded-circle ms-2" type="submit">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenido-header">
            <h2>¡Los anfitriones lo hacen posible!</h2>
        </div>
    </div>
</header>


<div class="page">
    <div class="container-fluid">
        <div id="scroller">
            <div class="nav">
                <a class="prev">&laquo;</a>
                <a class="next">&raquo;</a>
            </div>
            <div class="item"><img src="/static/img/slider/8.jpeg" alt="Images Slider"></div>
            <div class="item"><img src="/static/img/slider/6.jpeg" alt="Images Slider"></div>
            <div class="item"><img src="/static/img/slider/5.jpeg" alt="Images Slider"></div>
            <div class="item"><img src="/static/img/slider/4.jpeg" alt="Images Slider"></div>
            <div class="item"><img src="/static/img/slider/3.jpeg" alt="Images Slider"></div>
            <div class="item"><img src="/static/img/slider/2.jpeg" alt="Images Slider"></div>
            <div class="item"><img src="/static/img/slider/7.jfif" alt="Images Slider"></div>
            <div class="item"><img src="/static/img/slider/1.jpeg" alt="Images Slider"></div>
        </div>
    </div>
    <div class="container container-page">
        <div class="container bg-light mb-3 pb-2 p-3 rounded-2">
            <h2 class="text-dark fw-bold">Explora cerca de ti</h2>
            <div class="row mt-3">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex1.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Medellín</h5>
                                    <p class="card-text lh-1"><small class="text-muted">Conoce la ciudad de la eterna
                                            primavera.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex2.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Cartagena</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Hermosas playas, arquitectura y
                                            cultura.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex4.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Santa Marta</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Una piscina del tamaño del mar,
                                            ven y conoce el rodadero.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex3.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">San Andres</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Ven y conoce el mar de siete
                                            colores y sus aguas cristalinas.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-6 col-lg-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex8.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Eje Cafetero</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Tierra de montañas y cafe, ven y
                                            conoce nuestras hermosas tierras.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex7.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Villa de Leyva</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Disfruta de su arquitectura
                                            colonial.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex6.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Caño Cristales</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Conoce el rio mas colorido de
                                            Colombia y sus aguas cristalinas</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-1">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex5.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Cañon del Chicamocha</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Disfruta de las aventuras en
                                            nuestro parque</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4 mb-5">
            <h2 class="text-dark fw-bold mb-4">Vive en cualquier lugar del mundo</h2>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-1">
                    <figure class="figure">
                        <img src="/static/img/Vive/v1.jpg" class="figure-img img-fluid rounded" alt="vive images">
                        <figcaption class="figure-caption">
                            <h4 class="d-flex text-center text-dark">Alojamientos Enteros</h4>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <figure class="figure">
                        <img src="/static/img/Vive/v2.jpg" class="figure-img img-fluid rounded" alt="vive images">
                        <figcaption class="figure-caption">
                            <h4 class="text-center text-dark">Alojamientos Únicos</h4>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <figure class="figure">
                        <img src="/static/img/Vive/v3.jpg" class="figure-img img-fluid rounded" alt="vive images">
                        <figcaption class="figure-caption">
                            <h4 class="text-center text-dark">Granjas y Naturaleza</h4>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <figure class="figure">
                        <img src="/static/img/Vive/v4.jpg" class="figure-img img-fluid rounded" alt="vive images">
                        <figcaption class="figure-caption">
                            <h4 class="text-center text-dark">Se admiten Mascotas</h4>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="banner">
                    <h1 class="mt-5">Hazte Anfitrion</h1>
                    <p class="mb-0">Comparte tu espacio para ganar dinero extra</p>
                    <p>y aprovechar nuevas oportunidades.</p>
                    <a href=""><button class="btn btn-light">Mas información</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <p class="display-4">Descubre experiencias</p>
        <p class="display-6">Actividades únicas con expertos locales,
            en persona o en línea.
        </p>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="item shadow  mb-4 ">
                    <img class="item-image" src="/static/img/descubre/d1.jpg">
                </div>
                <p class="item-details  text-center">
                    <button class="btn  btn-warning  rounded-pill text-decoration-none " data-bs-toggle="collapse"
                        href="#enlinea" role="button" aria-expanded="false" aria-controls="enlinea">
                        Experiencias en línea
                    </button>
                </p>
                <div class="collapse" id="enlinea">
                    <div class="card card-body mb-3">
                        <p>Actividades interactivas en directo de la mano de anfitriones.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
                <div class="item shadow  mb-4 ">
                    <img class="item-image" src="/static/img/descubre/d2.jpg">
                </div>
                <p class="item-details  text-center">
                    <button class="btn btn-warning  rounded-pill text-decoration-none" data-bs-toggle="collapse"
                        href="#experienias" role="button" aria-expanded="false" aria-controls="experienias">
                        Experiencias
                    </button>
                </p>
                <div class="collapse" id="experienias">
                    <div class="card card-body mb-3">
                        <p>Actividades con personas locales estés donde estés.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
                <div class="item shadow  mb-4 ">
                    <img class="item-image" src="/static/img/descubre/d3.jpg">
                </div>
                <p class="item-details  text-center">
                    <button class="btn btn-warning  rounded-pill  " data-bs-toggle="collapse" href="#aventura"
                        role="button" aria-expanded="false" aria-controls="aventura">
                        Aventuras
                    </button>
                </p>
                <div class="collapse" id="aventura">
                    <div class="card card-body mb-3">
                        <p>Viajes de varios días con alojamiento y comidas.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}