{% extends './layout/layout.html' %}

{% block title %}
Connect-House
{% endblock %}
{% block content %}

<header class="site-header inicio">
    <div class="container-fluid">
        <div class="container">
            <div class="row buscador">
                <div class="col-md-3">
                    <form class="d-flex">
                        <i class="fas fa-map-marked-alt text-warning fw-bold">
                            <label class="form-label text-dark fw-bold ms-1" for="ubication">Ubicación</label>
                        </i>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill" id="ubication" type="text"
                            placeholder="¿A dónde vas?" aria-label="text">
                    </form>
                </div>
                <div class="col-md-3">
                    <form class="d-flex">
                        <i class="fas fa-calendar-day text-warning fw-bold">
                            <label class="form-label text-dark fw-bold ms-1" for="llegada">Llegada</label>
                        </i>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill " id="llegada" type="date"
                            placeholder="Agrega Fechas" aria-label="datetime">
                    </form>
                </div>
                <div class="col-md-3">
                    <form class="d-flex">
                        <i class="fas fa-calendar-check text-warning fw-bold">
                            <label class="form-label text-dark fw-bold ms-1" for="salida">Salida</label>
                        </i>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill " id="salida" type="date"
                            placeholder="Agrega Fechas" aria-label="datetime">
                    </form>
                </div>
                <div class="col-md-2">
                    <form class="d-flex">
                        <i class="fas fa-users text-warning fw-bold">
                            <label class="form-label text-dark fw-bold ms-1" for="huespedes">Huéspedes</label>
                        </i>
                        <input class="form-control fw-bold m-1 p-2 rounded-pill " id="huespedes" type="text"
                            placeholder="¿Cuántos?" aria-label="Search">
                    </form>
                </div>
                <div class="col-md-1">
                    <form class="d-flex">
                        <button class="btn btn-outline-warning fw-bold text-dark fw-bold m-1 p-2 rounded-circle" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="contenido-header">
            <h2>Los anfitriones lo hacen posible</h2>
        </div>
    </div>
</header>


<div class="page">
    <div class="container">
        <div class="carousel">
            <div class="carousel__contenedor">
                <button aria-label="Anterior" class="carousel__anterior">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <div class="carousel__lista">
                    <div class="carousel__elemento">
                        <img src="/static/img/slider/1.jpeg" alt="Rock and Roll Hall of Fame">

                    </div>
                    <div class="carousel__elemento">
                        <img src="/static/img/slider/2.jpeg" alt="Constitution Square - Tower I">

                    </div>
                    <div class="carousel__elemento">
                        <img src="/static/img/slider/3.jpeg" alt="Empire State Building">

                    </div>
                    <div class="carousel__elemento">
                        <img src="/static/img/slider/4.jpeg" alt="Harmony Tower">

                    </div>

                    <div class="carousel__elemento">
                        <img src="/static/img/slider/5.jpeg" alt="Empire State Building">

                    </div>
                    <div class="carousel__elemento">
                        <img src="/static/img/slider/6.jpeg" alt="Harmony Tower">

                    </div>
                    <div class="carousel__elemento">
                        <img src="/static/img/slider/7.jfif" alt="Empire State Building">

                    </div>
                    <div class="carousel__elemento">
                        <img src="/static/img/slider/8.jpeg" alt="Harmony Tower">
                    </div>
                </div>

                <button aria-label="Siguiente" class="carousel__siguiente">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>

            <div role="tablist" class="carousel__indicadores"></div>
        </div>

        <div class="container bg-light mb-3 pb-5 p-3 rounded-2">
            <h2 class="text-dark fw-bold">Explora cerca de ti</h2>
            <div class="row mt-3">
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex1.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Medellín</h5>
                                    <p class="card-text lh-1"><small class="text-muted">Conoce la ciudad de la eterna primavera.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex2.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Cartagena</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Hermosas playas, arquitectura y cultura.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex4.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Santa Marta</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Una piscina del tamaño del mar, ven y conoce el rodadero.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex3.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">San Andres</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Ven y conoce el mar de siete colores y sus aguas cristalinas.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex8.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Eje Cafetero</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Tierra de montañas y cafe, ven y conoce nuestras hermosas tierras.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4 p-2">
                                <img src="/static/img/explora/ex7.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Villa de Leyva</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Disfruta de su arquitectura colonial.</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex6.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Caño Cristales</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Conoce el rio mas colorido de Colombia y sus aguas cristalinas</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-4  p-2">
                                <img src="/static/img/explora/ex5.jpg" width="100" height="100" alt="Explora images">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">Cañon del Chicamocha</h5>

                                    <p class="card-text lh-1"><small class="text-muted">Disfruta de las aventuras en nuestro parque</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h2>Vive en cualquier lugar del mundo</h2>
        </div>




        <div class="row">
            <div class="col-lg-12">
                <div class="banner">
                    <h1 class="mt-5">Hazte Anfitrion</h1>
                    <p class="mb-0">Comparte tu espacio para ganar dinero extra</p>
                    <p>y aprovechar nuevas oportunidades.</p>
                    <a href=""><button class="btn btn-light">Mas información</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}