{% extends './layout/layout.html' %}

{% block title %}
Lista de Apartamentos
{% endblock %}
{% block content %}
<div class="container ">
  <div class="row mt-4  ps-1">
    <div class="col-12 col-sm-12 col-md 12 col-lg-1 mb-3">
      <a href="/homeonwer" class="back align-middle"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="col-lg-8"></div>
    <div class="col-12 col-sm-12 col-md 12 col-lg-1 text-center">
      {% if data['active']%}
      <form action="/deactive-apartment" method="POST">
        <input type="text" class="d-none" name="id" value="{{data['_id']}}">
        <button type="submit" class="btn"><i class="fas fa-pause-circle"></i> Pausar</button>
      </form>
      {% else %}
      <form action="/active-apartment" method="POST">
        <input type="text" class="d-none" name="id" value="{{data['_id']}}">
        <button type="submit" class="btn"><i class="fas fa-play-circle"></i> Activar</button>
      </form>
      {% endif %}
    </div>
    <div class="col-12 col-sm-12 col-md 12 col-lg-1 text-center">
      <button class="btn"><a href="/update-apartment/{{data['_id']}}" class="lin"><i class="fas fa-edit"></i> Editar</a></button>
    </div>
    <div class="col-12 col-sm-12 col-md 12 col-lg-1 text-center">
      <form action="/delete-apartment" method="POST">
        <input type="text" class="d-none" name="id" value="{{data['_id']}}">
        <button type="submit" class="btn"><i class="fas fa-trash-alt"></i> Eliminar</button>
      </form>

    </div>
  </div>
  <div class="page-apartment">
    <div class="row mt-5 ">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
        <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image_featured'])}}" />
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][0])}}" />
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][1])}}" />
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][2])}}" />
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-2">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][3])}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="segurity">
          <div class="row">
            <div class="col-lg-1">
              <img id="i-cross" src="{{url_for('static', filename='img/doctor.png')}}" />
            </div>
            <div class="col-lg-11">
              <p><strong>Medidas de salud y seguridad especiales</strong></p>
              <p class="lh-1 mb-0">Este alojamiento ha tomado medidas especiales de higiene y salud por que tu salud es
                lo mas importante <a href="#">Ver información sobre salud y seguridad</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <h3 class="">
          <i class="fas fa-hotel"></i> {{data['name']}}
        </h3>
        <p class="mb-0"><i class="fas fa-map-marker-alt"></i> {{data['country']}} - {{data['city']}}</p>
        <p class="mb-0"><i class="fas fa-map-marked-alt"></i> {{data['address']}}</p>
        <form id="form">
          <p class="mb-0"><strong>Calificación:</strong> </p>
          <p class="clasificacion">
            {% if data['assessment'] == 5 %}
            <input id="radio1" type="radio" name="estrellas" value="5" checked>
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 4 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4" checked>
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 3 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3" checked>
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 2 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2" checked>
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 1 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1" checked>
            <label class="label" for="radio5">★</label>
            {% endif %}
          </p>
        </form>
        <p class="mb-1 mt-1"><strong>Descripción: </strong></p>
        <p class="justify">{{data['review']}}</p>
        <h6 class="mb-0"><i class="fas fa-tags"> </i> <strong>Valor por noche:</strong> {{data['nigth_value']}}</h6>
      </div>
      <div class="col-lg-4">
        <div class="info">
          <div class="row">
            <div class="col-lg-2 text-center"><i class="fas fa-map-marker-alt fa-2x"></i> </div>
            <div class="col-lg-10 ">
              <p class="lh-1"> La mejor ubicación. Los viajeros recientes le dan una puntuación alta (8,9)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 text-center"><i class="fas fa-bed fa-2x"></i> </div>
            <div class="col-lg-10">
              <p class="lh-1"> ¿Quieres dormir a pierna suelta? Este hotel tiene una puntuación muy alta por la
                comodidad de sus camas.</p>
            </div>
            <p class="mb-0">
              <strong>Información sobre el desayuno</strong>
            </p>
            <p>Buffet</p>
            <div class="row">
              <div class="col-lg-2 text-center justify-content-center"><i class="fas fa-parking fa-3x"></i> </div>
              <div class="col-lg-10">
                <p class="lh-1"> Hay parking privado gratis en el hotel</p>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-lg-2 text-center"><i class="fas fa-tv fa-2x"></i> </div>
              <div class="col-lg-10">
                <p class="lh-1"> Todas las habitaciones tienen TV y aire acondicionado</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gx-0 mb-5">
        <div class="col-lg-12 pe-0">
          <iframe class="mt-5" src="{{data['location']}}" title="Map" width="100%" height="400" style="border:0;"
            allowfullscreen="" loading="lazy">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
