{% extends './layout/layout.html' %}

{% block title %}
Reservación
{% endblock %}
{% block content %}
{% if status == "E" %}
<div id="alerta" class="alert alert-danger d-block" role="alert">
    Usuario o contraseña Invalidos, intente nuevamente
</div>
{% else %}
<div></div>
{% endif %}
<div class="page-login-com">
    <div class="container-reservation">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8 p-4">
                        <div class="res p-4">
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <h6 class="title-res mb-4">
                                                <strong>Hotel seleccionado</strong>
                                            </h6>
                                            <img class="img-fluid-res"
                                            src="{{url_for('static', filename='img/uploads/'+apartment['image_featured'])}}" />
                                            <h5 class="mb-0 mt-2">
                                                {{apartment['name']}}
                                            </h5>
                                            <p class="mb-0"><i class="fas fa-map-marker-alt"></i> {{apartment['country']}} -
                                                {{apartment['city']}}</p>
                                            <p class="mb-0"><i class="fas fa-map-marked-alt"></i> {{apartment['address']}}</p>
                                            <form id="form">
                                                <p class="mb-0"><strong>Calificación:</strong> </p>
                                                <p class="clasificacion">
                                                  {% if apartment['assessment'] == 5 %}
                                                  <input id="radio1" type="radio" name="estrellas" value="5" checked>
                                                  <label class="label" for="radio1">★</label>
                                                  <input id="radio2" type="radio" name="estrellas" value="4">
                                                  <label class="label" for="radio2">★</label>
                                                  <input id="radio3" type="radio" name="estrellas" value="3">
                                                  <label class="label" for="radio3">★</label>
                                                  <input id="radio4" type="radio" name="estrellas" value="2">
                                                  <label class="label" for="radio4">★</label>
                                                  <input id="radio5" type="radio" name="estrellas" value="1">
                                                  <label class="label" for="radio5">★</label>
                                                  {% elif apartment['assessment'] == 4 %}
                                                  <input id="radio1" type="radio" name="estrellas" value="5">
                                                  <label class="label" for="radio1">★</label>
                                                  <input id="radio2" type="radio" name="estrellas" value="4" checked>
                                                  <label class="label" for="radio2">★</label>
                                                  <input id="radio3" type="radio" name="estrellas" value="3">
                                                  <label class="label" for="radio3">★</label>
                                                  <input id="radio4" type="radio" name="estrellas" value="2">
                                                  <label class="label" for="radio4">★</label>
                                                  <input id="radio5" type="radio" name="estrellas" value="1">
                                                  <label class="label" for="radio5">★</label>
                                                  {% elif apartment['assessment'] == 3 %}
                                                  <input id="radio1" type="radio" name="estrellas" value="5">
                                                  <label class="label" for="radio1">★</label>
                                                  <input id="radio2" type="radio" name="estrellas" value="4">
                                                  <label class="label" for="radio2">★</label>
                                                  <input id="radio3" type="radio" name="estrellas" value="3" checked>
                                                  <label class="label" for="radio3">★</label>
                                                  <input id="radio4" type="radio" name="estrellas" value="2">
                                                  <label class="label" for="radio4">★</label>
                                                  <input id="radio5" type="radio" name="estrellas" value="1">
                                                  <label class="label" for="radio5">★</label>
                                                  {% elif apartment['assessment'] == 2 %}
                                                  <input id="radio1" type="radio" name="estrellas" value="5">
                                                  <label class="label" for="radio1">★</label>
                                                  <input id="radio2" type="radio" name="estrellas" value="4">
                                                  <label class="label" for="radio2">★</label>
                                                  <input id="radio3" type="radio" name="estrellas" value="3">
                                                  <label class="label" for="radio3">★</label>
                                                  <input id="radio4" type="radio" name="estrellas" value="2" checked>
                                                  <label class="label" for="radio4">★</label>
                                                  <input id="radio5" type="radio" name="estrellas" value="1">
                                                  <label class="label" for="radio5">★</label>
                                                  {% elif apartment['assessment'] == 1 %}
                                                  <input id="radio1" type="radio" name="estrellas" value="5">
                                                  <label class="label" for="radio1">★</label>
                                                  <input id="radio2" type="radio" name="estrellas" value="4">
                                                  <label class="label" for="radio2">★</label>
                                                  <input id="radio3" type="radio" name="estrellas" value="3">
                                                  <label class="label" for="radio3">★</label>
                                                  <input id="radio4" type="radio" name="estrellas" value="2">
                                                  <label class="label" for="radio4">★</label>
                                                  <input id="radio5" type="radio" name="estrellas" value="1" checked>
                                                  <label class="label" for="radio5">★</label>
                                                  {% endif %}
                                                </p>
                                              </form>
                                              {% if apartment['assessment'] > 3 %}
                                              <p class="mt-2"><span class="res-etiq">
                                                  Hotel con altos estandares de calidad
                                              </span></p>
                                              {% else %}
                                                <p class="mt-2"><span class="res-etiq-neg">
                                                    El hotel aún no cuenta con validaciones suficientes
                                                </span></p>
                                              {% endif %}

                                        </div>
                                        <div class="col-lg-8">
                                            
                                            <form action="">
                                                <div class="row">
                                                   <div class="col-lg-6">
                                                    <h6 class="title-res mb-4">
                                                        <strong>Fecha de reservación</strong>
                                                    </h6>
                                                    <p class="mb-3"><span class="text-res">Selecciona el numero de personas y las fechas de tu viaje</span></p>
                                                    <input class="d-none" type = "text" id = "myDatepicker" name="exit" class = "form-control form-control-sm" /> 
                                                    <input class="d-none" type = "text" id = "myDatepicker2" name="return" class = "form-control form-control-sm" /> 
                                                    <select class="form-select mb-4" id="numPerson" aria-label="Default select example">
                                                        <option selected>Selecciona el numero de personas</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                      </select>
                                                   </div>
                                                    <div class="col-lg-6">
                                                        <h6 class="title-res mb-4">
                                                           <strong>Datos de tu reservación</strong>
                                                        </h6>
            
                                                        <p class="mb-0"><i class="fas fa-plane-departure"> </i> <strong> Salida:</strong></p>
                                                        <p id="salida">No se ha seleccionado aún</p>
            
                                                        <p class="mb-0"><i class="fas fa-plane-arrival"> </i> <strong> Regreso:</strong></p>
                                                        <p id="regreso">No se ha seleccionado aún</p>
            
                                                        <p class="mb-2"><i class="fas fa-users"></i> <strong> Número de personas:</strong></p>
                                                        <span><p class="mt-0" id="nump"> No se ha seleccionado aún</p></span>
                                                         
                                                    </div>
                                                
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-end">
                                            <img class="img-payment" src="{{url_for('static', filename='img/payment.png')}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-4">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="icon-res">
                                    <img class="icon-r img-fluid" src="../static/img/mes.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="icon-res">
                                    <img class="icon-r img-fluid" src="../static/img/world.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-6 ">
                                <div class="icon-res">
                                    <img class="icon-r img-fluid" src="../static/img/hotel.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="icon-res">
                                    <img class="icon-r img-fluid" src="../static/img/llave.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}