{% extends './layout/layout.html' %}

{% block title %}
Reservación
{% endblock %}
{% block content %}
{% if status == "E" %}
<div id="alerta" class="alert alert-danger d-block" role="alert">
    Usuario o contraseña Invalidos, intente nuevamente
</div>
{% else %}
<div></div>
{% endif %}
<div class="page-login-com">
    <div class="container-reservation">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 p-5">
                        <h5>Tu Reservación</h5>
                        <img class="img-view" src="{{url_for('static', filename='img/uploads/'+apartment['image_featured'])}}" />
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 gx-0 gy-0 pe-0">
            </div>
        </div>
    </div>
</div>



{% endblock %}