{% extends './layout/layout.html' %}

{% block title %}
Ingresar
{% endblock %}
{% block content %}
{% if status == "E" %}
<div id="alerta" class="alert alert-danger d-block" role="alert">
    Usuario o contraseña Invalidos, intente nuevamente
</div>
{% else %}
<div></div>
{% endif %}
<div class="page-login-com">
    <div class="container container-login text-center ">
        <div class="row row-login gx-0 gy-0">
            <div class="col-lg-12 page-login">
                <div class="row gx-0 gy-0 form-user">
                    <div class="col-md-12 col-lg-6">
                        <img src="/static/img/Login-Person.jpg" class="img-fluid" height="100" alt="">
                    </div>
                    <div class="col col-sm-6 col-md-12 col-lg-6 form-user mb-5">
                        <div class="buttons">
                            <div class="row mb-2">
                                <div class="col-12 col-sm-3 col-md-3  col-lg-3 mt-4"><a class="sigin-btn-go text-decoration-none link-form"
                                        href="/signup"><span>Registrarse</span></a>
                                </div>
                                <div class="col"></div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-4"><a id="go-propery"
                                        class="link-form text-decoration-none go-property-register desactivate-btn"><span>Inicio Anfitrión</span></a>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-4">
                                    <a id="" class="link-form text-decoration-none go-user-register active-btn"><span>Inicio Usuario</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="form-login">
                            <h3>Inicio de sesión usuarios</h3>
                            <form id="form-user" class="mt-2" method="POST" action="/signinuser"
                                onsubmit="return validateLogin();">
                                <label for="">Correo:</label>
                                <input type="email" class="form-control mt-1" id="email" name="email"
                                    placeholder="Ingresa tu correo electronico">
                                <label class="mt-4" for="">Contraseña:</label>
                                <input type="password" class="form-control mt-1" id="password" name="password"
                                    placeholder="Ingresa tu contraseña">
                                <div class=" mt-5 text-center">
                                    <input class="btn-submit" type="submit" value="Iniciar sesión">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 gy-0 form-property">
                    <div class=" col-lg-6 form-property">
                        <img src="/static/img/login-Prop.jpg" class="img-fluid" height="100" alt="">

                    </div>
                    <div class="col col-sm-6 col-md-12 col-lg-6 form-property mb-5">
                        <div class="row mb-2">
                            <div class="col-12 col-sm-3 col-md-3  col-lg-3 mt-4"><a class="sigin-btn-go text-decoration-none link-form"
                                    href="/signup"><span>Registrarse</span></a>
                            </div>
                            <div class="col"></div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-4"><a
                                    class="link-form text-decoration-none go-property-register active-btn"><span>Inicio
                                        Anfitrión</span></a>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 mt-4">
                                <a id="go-user"
                                    class="link-form text-decoration-none go-user-register desactivate-btn"><span>Inico
                                        Usuario</span></a>
                            </div>
                        </div>
                        <div class="form-login">
                            <h3>Inicio de sesión propietarios</h3>
                            <form id="form-property" class="mt-2" method="POST" action="/signinonwer"
                                onsubmit="return validateLoginPrio();">
                                <label for="">Correo:</label>
                                <input type="email" class="form-control mt-1" name="emailPrio" id="emailPrio"
                                    placeholder="Ingresa tu correo electronico">
                                <label class="mt-4" for="">Contraseña:</label>
                                <input type="password" class="form-control mt-1" name="passwordPrio" id="passwordPrio"
                                    placeholder="Ingresa tu contraseña">
                                <div class=" mt-5 text-center">
                                    <input class="btn-submit" type="submit" value="Iniciar sesión">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}