{% extends './layout/layout.html' %}

{% block title %}
Ingresar
{% endblock %}
{% block content %}
{% if status == "E" %}
<div id="alerta" class="alert alert-danger d-block" role="alert">
    Usuario o contraseña Invalidos, intente nuevamente
</div>
{% else %}
    <div></div>
{% endif %}
<div class="page-login-com">
    <div class="row row-login gx-0 gy-0">
        <div class="col-lg-12 page-login">
            <div class="row gx-0 gy-0">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 form-user mb-5">
                    <div class="form-login">
                        <h3>Inicio de sesión usuarios</h3>
                        <form id="form-user" class="mt-2" method="POST" action="/signinuser" onsubmit="return validateLogin();">
                            <label for="">Correo:</label>
                            <input type="email" class="form-control mt-1" id="email" name="email" placeholder="Ingresa tu correo electronico">
                            <label class="mt-4" for="">Contraseña:</label>
                            <input type="password" class="form-control mt-1" id="password"  name="password" placeholder="Ingresa tu contraseña">
                            <a id="go-propery" class="float-start link-form"><span>¿Eres propietario?</span></a>
                            <a class="float-end link-form"href="/signup"><span>Registrarse</span></a>
                            <div class=" mt-5 text-center">
                                <input class="btn-submit" type="submit" value="Iniciar sesión">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 form-property mb-5">
                    <div class="form-login">
                        <h3>Inicio de sesión propietarios</h3>
                        <form id="form-property" class="mt-2" method="POST" action="/signinonwer" onsubmit="return validateLoginPrio();">
                            <label for="">Correo:</label>
                            <input type="email" class="form-control mt-1" name="emailPrio" id="emailPrio" placeholder="Ingresa tu correo electronico">
                            <label class="mt-4" for="">Contraseña:</label>
                            <input type="password" class="form-control mt-1" name="passwordPrio" id="passwordPrio"  placeholder="Ingresa tu contraseña">
                            <a id="go-user" class="float-start link-form"><span>¿Eres Usuario?</span></a>
                            <a class="float-end link-form"href="/signup"><span>Registrarse</span></a>
                            <div class=" mt-5 text-center">
                                <input class="btn-submit" type="submit" value="Iniciar sesión">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4"></div>
            </div>
        </div>
    </div>
</div>



{% endblock %}