{% extends './layout/layout.html' %}

{% block title %}
Lista de Apartamentos
{% endblock %}
{% block content %}
<div class="container">
  <div class="row mt-4 ps-1">
    <div class="col-lg-12">
      <a href="/apartment" class="back align-middle"><i class="fas fa-arrow-left"></i></a>
    </div>
    </div>
  <div class="page-apartment">
    <div class="row mt-5 ">
      <div class="col-lg-6">
        <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image_featured'])}}" />
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][0])}}" />
          </div>
          <div class="col-lg-6">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][1])}}" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-6">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][2])}}" />
          </div>
          <div class="col-lg-6">
            <img class="img-view" src="{{url_for('static', filename='img/uploads/'+data['image'][3])}}" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="segurity">
          <div class="row">
            <div class="col-lg-1 text-center">
              <img id="i-cross" src="{{url_for('static', filename='img/doctor.png')}}" />
            </div>
            <div class="col-lg-11">
              <p><strong>Medidas de salud y seguridad especiales</strong></p>
              <p class="lh-1 mb-0">Este alojamiento ha tomado medidas especiales de higiene y salud por que tu salud es
                lo mas importante <a href="#">Ver información sobre salud y seguridad</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <h3 class="">
          <i class="fas fa-hotel"></i> {{data['name']}}
        </h3>
        <p class="mb-0"><i class="fas fa-map-marker-alt"></i> {{data['country']}} - {{data['city']}}</p>
        <p class="mb-0"><i class="fas fa-map-marked-alt"></i> {{data['address']}}</p>
        <form id="form">
          <p class="mb-0"><strong>Calificación:</strong> </p>
          <p class="clasificacion">
            {% if data['assessment'] == 5 %}
            <input id="radio1" type="radio" name="estrellas" value="5" checked>
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 4 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4" checked>
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 3 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3" checked>
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 2 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2" checked>
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1">
            <label class="label" for="radio5">★</label>
            {% elif data['assessment'] == 1 %}
            <input id="radio1" type="radio" name="estrellas" value="5">
            <label class="label" for="radio1">★</label>
            <input id="radio2" type="radio" name="estrellas" value="4">
            <label class="label" for="radio2">★</label>
            <input id="radio3" type="radio" name="estrellas" value="3">
            <label class="label" for="radio3">★</label>
            <input id="radio4" type="radio" name="estrellas" value="2">
            <label class="label" for="radio4">★</label>
            <input id="radio5" type="radio" name="estrellas" value="1" checked>
            <label class="label" for="radio5">★</label>
            {% endif %}
          </p>
        </form>
        <p class="mb-1 mt-1"><strong>Descripción: </strong></p>
        <p class="justify">{{data['review']}}</p>
        <h6 class="mb-0"><i class="fas fa-tags"> </i> <strong>Valor por noche:</strong> {{data['nigth_value']}}</h6>
      </div>
      <div class="col-lg-4">
        <div class="info">
          <div class="row">
            <div class="col-lg-2 text-center"><i class="fas fa-map-marker-alt fa-2x"></i> </div>
            <div class="col-lg-10 ">
              <p class="lh-1"> La mejor ubicación. Los viajeros recientes le dan una puntuación alta (8,9)</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2 text-center"><i class="fas fa-bed fa-2x"></i> </div>
            <div class="col-lg-10">
              <p class="lh-1"> ¿Quieres dormir a pierna suelta? Este hotel tiene una puntuación muy alta por la
                comodidad de sus camas.</p>
            </div>
            <p class="mb-0">
              <strong>Información sobre el desayuno</strong>
            </p>
            <p>Buffet</p>
            <div class="row">
              <div class="col-lg-2 text-center justify-content-center"><i class="fas fa-parking fa-3x"></i> </div>
              <div class="col-lg-10">
                <p class="lh-1"> Hay parking privado gratis en el hotel</p>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-lg-2 text-center"><i class="fas fa-tv fa-2x"></i> </div>
              <div class="col-lg-10">
                <p class="lh-1"> Todas las habitaciones tienen TV y aire acondicionado</p>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-lg-12 text-center mt-2">
                <a class="link" href="/reservation"><button class="btn btn-primary">Reserva Ahora</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row gx-0 ">
        <div class="col-lg-12 pe-0">
          <iframe class="mt-5" src="{{data['location']}}" title="Map" width="100%" height="400" style="border:0;"
            allowfullscreen="" loading="lazy">
          </iframe>
        </div>
      </div>
      <div class="row gx-0 mt-3">
        <div class="col-lg-12 pe-0">
          <div class="coment">
            <h5>Califica este alojamiento</h5>
            <form id="form2">
              <p class="mb-0 mt-4">Calificación: </p>
              <p class="clasificacion2 mb-0">
                <input id="radio1" type="radio" name="estrellas" value="5">
                <label class="label2" for="radio1">★</label>
                <input id="radio2" type="radio" name="estrellas" value="4">
                <label class="label2" for="radio2">★</label>
                <input id="radio3" type="radio" name="estrellas" value="3">
                <label class="label2" for="radio3">★</label>
                <input id="radio4" type="radio" name="estrellas" value="2">
                <label class="label2" for="radio4">★</label>
                <input id="radio5" type="radio" name="estrellas" value="1">
                <label class="label2" for="radio5">★</label>
              </p>
            </form>
            <form action=""> 
              <label for="comment">Comentario: </label><br>
              <textarea class="form-control" name="comment"  ></textarea>
              <input class="btn btn-primary mt-3" type="submit" value="Enviar calificación">
            </form>
          </div>
        </div>
      </div>

      <div class="row mt-3 gx-0">
        <div class="col-lg-12 pe-0">

          <div class="container bg-light mb-3 pb-2 p-3 rounded-2">
            <h2 class="text-dark fw-bold">Explora cerca de ti</h2>
            <div class="row mt-3">
              <div class="col-sm-12 col-md-6 col-l-3 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4">
                      <img src="/static/img/explora/ex1.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">Medellín</h6>
                        <p class="card-text lh-1"><small class="text-muted">Conoce la ciudad de la eterna
                            primavera.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-l-3 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4">
                      <img src="/static/img/explora/ex2.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">Cartagena</h6>

                        <p class="card-text lh-1"><small class="text-muted">Hermosas playas, arquitectura y
                            cultura.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-l-3 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4 ">
                      <img src="/static/img/explora/ex4.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">Santa Marta</h6>

                        <p class="card-text lh-1"><small class="text-muted">Una piscina del tamaño del mar,
                            ven y conoce el rodadero.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-l-3 col-lg-3 col-xl-3 col-xxl-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4 ">
                      <img src="/static/img/explora/ex3.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">San Andres</h6>

                        <p class="card-text lh-1"><small class="text-muted">Ven y conoce el mar de siete
                            colores y sus aguas cristalinas.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 col-md-6 col-l-3 col-lg-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4">
                      <img src="/static/img/explora/ex8.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">Eje Cafetero</h6>
                        <p class="card-text lh-1"><small class="text-muted">Tierra de montañas y cafe, ven y
                            conoce nuestras hermosas tierras.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-l-3 col-lg-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4">
                      <img src="/static/img/explora/ex7.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">Villa de Leyva</h6>

                        <p class="card-text lh-1"><small class="text-muted">Disfruta de su arquitectura
                            colonial.</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-l-3 col-lg-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4 ">
                      <img src="/static/img/explora/ex6.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">Caño Cristales</h6>

                        <p class="card-text lh-1"><small class="text-muted">Conoce el rio mas colorido de
                            Colombia y sus aguas cristalinas</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-l-3 col-lg-3 mb-1">
                <div class="card" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-4">
                      <img src="/static/img/explora/ex5.jpg" width="100" height="100" alt="Explora images">
                    </div>
                    <div class="col-8">
                      <div class="card-body">
                        <h6 class="card-title">Cañon del Chicamocha</h6>
                        <p class="card-text lh-1"><small class="text-muted">Disfruta de las aventuras en
                            nuestro parque</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}